:root {
    --lightblue: rgba(123, 199, 218, 0.43);
    --darkblue: rgba(2, 48, 59, 0.73);
}

body {
    font-family: 'Noto Serif', serif;
    background-color: var(--lightblue);
    font-size: 20px;
    color: var(--darkblue);
    line-height: 1.8;
}

.header {
    background-color: #4bcff3;
    background-image: linear-gradient(45deg, #4bcff3 0%, #ad33c1bf 52%, #87f1b6b8 90%);
    height: 7.5vw;
}

.header h1 {
    text-shadow: 3px 3px var(--lightblue);
}


#today-info {
    margin-top: 33px;
    height: 16vw;
}

#search-content {
    margin-top: 50px;
}

#search-bar {
    gap: 10px;
}

#clear-history {
    margin-top: 35px;
}

.btn {
    background-color: #ef95f3;
    background-image: linear-gradient(45deg, #ef95f3 0%, #4bcff3 52%, #87f1b6cf 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
    color: var(--darkblue);
}

.btn:hover {
    background-position: 1px -50px;
}

.btn:focus {
    outline: none;
}

/* change UV color base on the UVI number */
.low {
    background-color: rgb(28, 196, 131);
}

.moderate {
    background-color: rgb(212, 210, 45);
}

.high {
    background-color: rgb(223, 146, 94);
}

.veryHigh {
    background-color: rgb(212, 43, 43);
}

.extreme {
    background-color: rgb(228, 63, 178);
}


#forecast {
    display: contents;
}

.list {
    display: grid;
    gap: 2px;
}

#fiveDays {
    margin-top: 6vw;
}

/* media query for screen = < 980px */
@media screen and (max-width: 980px) {
    #fiveDays {
        margin-top: 17vw;
    }

    .header {
        height: 11vw;
    }
}


/* media query for screen = < 768px */
@media screen and (max-width: 768px) {
    #fiveDays {
        margin-top: 35vw;
    }    

    .header {
        height: 13vw;
    }

    #searchedCity {
        font-size: 30px;
    }
}

/* media query for screen = < 575px */
@media screen and (max-width: 575px) {
    .header {
        height: 18vw;
    }

    .header h1 {
        font-size: 36px;
    }

    #fiveDays {
        margin-top: 50vw;
    } 

    #searchedCity {
        font-size: 26px;
    }
}


/* media query for screen = < 392px */
@media screen and (max-width: 392px) {
    .header h1 {
        font-size: 26px;
    }

    #search-content h3 {
        font-size: 24px;
    }

    #fiveDays {
        margin-top: 22rem;
    } 

    #searchedCity {
        font-size: 26px;
    }
}





